@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a site made for the Devolepment of an information system in .net course.
    A lot of beer and energy drinks died during the development.
    Many indian and asian guys were helpful with the tutorials provided in Internet.
    Google had a big part of the process too.
</p>
