@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Somewhere in the middle of nowhere<br />
    Far far away in the orbit of Ross 128 b <br />
    <abbr title="Phone">P:</abbr>
    No phone, only radio.
</address>

<address>
    <strong>Support:</strong>We prefer DPS<br />
    <strong>Marketing:</strong> Not enough money for it :/
</address>
